body {
  color: green;
  background-image: url(../images/circuits_board-wallpaper-darkened.png);
}

h1 {
  font-family: 'Press Start 2P', cursive;
}

h2 {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.25em;
}

p {
  font-family: 'VT323', monospace;
}

header {
  background-color: black;
  border-bottom: 2px solid green;
  margin: 5px;
}

#headline {
  font-size: 3.30em;
}

#falling-code {
  height: 17em;
  margin: 0 auto;
}

#guess-word {
  padding: 10px;
  margin: 5px;
  border: 1px solid green;
}

#guesses-left {
  font-size: 1.65em;
  height: 1.75em
}

#guessed-letters {
  font-size: 1.65em;
  height: 1.75em;
}

#results-banner {
  font-size: 1.65em;
}